/* reset
   ========================================================================== */
*, ::after, ::before {margin: 0;padding: 0;box-sizing:border-box; color:inherit;}
:root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;line-height:1.5;overflow-wrap:break-word;-moz-tab-size:4;tab-size:4}
html { font-size: 14px; overflow-x: hidden; width: 100%; color: #666; letter-spacing: -0.075px;line-height: 1.5; -webkit-tap-highlight-color: transparent; scroll-behavior: smooth; word-break: keep-all; -ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%; }
html, body {-webkit-font-smoothing:antialiased; }
body { background-color: #f5f5f5; }

html, body, h1, h1, h2, h3, h4, h5, h6, input, p, select {font-family: 'Noto Sans KR', 'Noto Sans SC', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: normal;}
h1, h2, h3, h4, h5, h6, p {font-size:inherit;line-height:inherit; overflow-wrap:break-word}
address, caption, cite, code, dfn, figcaption, pre, th, em, i, var {font-size: inherit;font-weight: normal;}
dd, dl, dt, li, ol, ul { list-style: none; }
caption {text-align: left}
table {border-collapse: collapse;border-spacing: 0}
details, main, summary {display: block}
mark {background-color:transparent}

canvas, img, picture, svg, video {display:block;max-width:100%;height:auto;}
audio, canvas, progress, video {vertical-align: initial}
img { vertical-align: bottom; }
img,fieldset,button,input,select,textarea{border:0 none;-moz-appearance:none;appearance:none;-webkit-appearance:none}
fieldset, iframe {border: 0}
fieldset { min-width: 0;text-overflow: ellipsis; }
iframe {overflow:hidden;vertical-align:top}
textarea {-webkit-backface-visibility:hidden;backface-visibility:hidden;background-color:transparent;border:0;word-break:keep-all;word-wrap:break-word; font:inherit;}
button, input, select, textarea {vertical-align:middle;font-size:100%}
button, input {-webkit-border-radius:0;border-radius:0;border:0}
input[type=search]::-webkit-search-cancel-button {-webkit-appearance:none}
button {background-color:transparent;border: 0;box-sizing: initial;color: inherit;cursor: pointer;font: inherit;line-height: inherit;overflow: visible;vertical-align: inherit}
button:disabled {cursor: default}
:focus {outline: 0; outline-offset: 0; }
:focus { outline-color: rgba(45,87,159,1); }
:focus { outline-color: rgba(20,97,165,1); }
:focus:not(input):not(textarea):not(select) {outline: none}
::-moz-focus-inner {border: 0;padding: 0}
a, a:active, a:hover { text-decoration: none; color: inherit; }

/* *::-webkit-scrollbar {
    width: 10px;
    height: 17%;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: #707070;
    border-radius: 10px;    
    background-clip: padding-box;
    border: 3px solid transparent;
    box-sizing: border-box;
}
*::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
} */

/* width */
/* ::-webkit-scrollbar {
    width: 0.286em;
    height: 0.286em;
} */

/* button */
/* ::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    background-color: transparent;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
    background-color: #707070;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
    background: #666;
} */

/* Track */
/* ::-webkit-scrollbar-track {
    background: #f5f5f5;
} */

/* The track NOT covered by the handle. */
/* ::-webkit-scrollbar-track-piece {
    background: transparent;
} */

/* Corner */
/* ::-webkit-scrollbar-corner {
    background: transparent;
} */

/* Resizer */
/* ::-webkit-resizer {
    background: transparent;
} */