@import url('//fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');


#nav:hover .nav-bg {
  height: 219px;
}

.header {
  height: 60px;
  background-color: #d8d8d8;
}

@for $i from 1 to 20 {
  .w-per-#{$i * 5} {
    width: $i * 5% !important
  }
}

.contents {
  width: 1000px;
  margin: auto;
  padding: 20px 10px 10px 10px
}

.tbl-type01 {
  width: 100%;
  border-collapse: collapse;
}
.tbl-type01 th,
.tbl-type01 td {
  border: 1px solid #444444;
  text-align: center;
  padding: 5px;
}
.tbl-type01 th {
  background-color: #d8d8d8;
}

.tbl-view01 {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
}
.tbl-view01 th,
.tbl-view01 td {
  border: 1px solid #444444;
  text-align: center;
  padding: 5px;
}
.tbl-view01 th {
  background-color: #d8d8d8;
}
.tbl-view01 td {
  text-align: left;
  padding: 5px;
}

.ul-attach {
  list-style: none;
  overflow: hidden;
}

.ul-attach li {
  float: left;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  height: 30px;
  line-height: 30px;
  padding: 5px;
}

.txt-left {
  text-align: left !important;
}
.txt-center {
  text-align: center !important;
}
.txt-right {
  text-align: right !important;
}
